<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>order Point Payment Gateway</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/scrolling-nav.css" rel="stylesheet">
    <link href="~/css/footer.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="mainNav">
        <div class="container-fuild">
            <a class="navbar-brand" href="#">
                <img width="80" height="80" alt="" src="~/Images/OrderPointLogo.png">
            </a>
            <a class="navbar-brand" href="#page-top">Order Point</a>
        </div>
    </nav>
    <section id="contact">
        <div class="container">
            @RenderBody()
        </div>
    </section>

    <!-- Footer -->
    <div class="footer navbar-fixed-bottom" id="myfooter">
        <footer class="bg-primary">
            <hr>
            <p class="m-0 text-center text-white">All rights reserved. Copyright &copy;  @DateTime.Now.Year Smart Bit IT Solutions Pvt Ltd</p>
        </footer>
    </div>

    <!-- Footer -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="~/js/scrolling-nav.js"></script>
</body>

</html>

